/** @format */


/* setting the global basic styles */
* {
	font-family: "Plus Jakarta Sans", sans-serif;
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

#root {
	width: 100vw;
	height: 100vh;
}
